ul {
list-style: none;
}
a:hover {
  cursor: pointer;
}
/*FOR NG CONTROLLER*/
.ng-invalid.ng-touched{
  border-color: #f47c3c;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.ng-invalid.ng-touched.form-control:focus {
  border-color: #ef5c0e;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #f9bd9d;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #f9bd9d;
}