/target/
src\main\resources\static\node_modules\*
target/*
src/main/resources/static/node_modules/
*.js
*.map
src/main/resources/static/typings/
public/node_modules/

# Except
!gulpfile.js
!systemjs.config.js